.contacts__section {
  padding-top: 43px;
  padding-bottom: 56px;
  background-image: linear-gradient(to bottom, $white-bg 8%, $pink-bg 8%);
}
.contacts__container {
  @extend %container;
}
.contacts__list {
  @include flex-container;
  flex-direction: column;
  justify-content: center;
  @extend %list;
}
.contacts__card {
  max-width: 220px;
  //   min-height: 427px;
  // width: 100%;

  padding: 43px 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  background-color: #fff;
}
.contacts__card:not(:last-child) {
  @media screen and(max-width: 767px) {
    margin-bottom: 30px;
  }
}
.card__lable {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding-left: 25px;
  padding-right: 25px;

  border-radius: 4px;
  .card__lable-txt {
    font-family: DM Sans;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $text-cl-white;
  }
}
.card__lable--color1 {
  background: #f0d1a5;
}
.card__lable--color2 {
  background: #c2e297;
}
.card__part-top {
  padding: 25px 0;
  border-bottom: 1px solid #e1e1e1;
}

.card__city {
  font-weight: 500;
  line-height: 1.83;
  letter-spacing: 0.04em;
}
.card__city--margin-b {
  margin-bottom: 10px;
}
.card__txt {
  font-weight: 500;
  line-height: 1.5;
  color: $text-cl-grey;
}
.card__txt--margin-b {
  color: tomato;
}
.card__part-middle {
  padding: 25px 0;
  border-bottom: 1px solid #e1e1e1;
}
.schedule--margin-b {
  margin-bottom: 10px;
}
.card__days {
  font-weight: 500;
  line-height: 1.86;
}
.card__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  color: $text-cl-pink;
}

.card__part-bottom {
  padding-top: 25px;
}

// Модельное окно

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85);

  &.show {
    visibility: visible;
    z-index: 100;
    opacity: 1;
  }

  & .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 0;
  }

  &-window {
    position: relative;
    z-index: 2;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    background-color: $pink-bg;

    &-two {
      position: relative;
      padding: 10px;
      z-index: 2;
      width: 600px;
      border-radius: 10px;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
      background-color: $pink-bg;
    }
  }
}

.btn-close {
  position: absolute;
  margin: 10px;
  right: 10px;
  background: none;
  opacity: 0.7;
  color: $btn-white-bg;
  cursor: pointer;
  font-size: 16px;
  line-height: 186%;

  &:hover,
  &:focus {
    opacity: 1;
    color: $icon-bg;
  }
}

.map {
  width: 100%;
  border-radius: 10px;
}

.ey-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  &-title {
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
    font-size: 15px;

    @media screen and(min-width: 767px) {
      font-size: 20px;
      line-height: 166%;
    }

    @media screen and(min-width: 1200px) {
      font-size: 22px;
      line-height: 190%;
      letter-spacing: 0.04em;
    }
  }
  &-text {
    text-align: left;
    margin: 10px;
    font-size: 18px;
    line-height: 21px;

    @media screen and(min-width: 767px) {
      font-size: 20px;
      line-height: 155%;
    }

    @media screen and(min-width: 1200px) {
      font-size: 22px;
      line-height: 170%;
      letter-spacing: 0.04em;
    }
  }
}

.contacs__button {
  display: flex;
  margin-top: 54px;
  text-align: center;

  @media screen and(min-width: 768px) {
    margin-top: 81px;
  }

  @media screen and(min-width: 1200px) {
    margin-top: 86px;
  }
}

.btn__contacs {
  margin-top: 10px;

  @media screen and(min-width: 768px) {
    margin-top: 0;
    margin-left: 15px;
  }
}

.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e17992;
  cursor: pointer;
}
.modal__close:hover .modal__icon,
.modal__close:focus .modal__icon {
  fill: crimson;
}
.modal__icon {
  width: 18px;
  height: 18px;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
