.contacts__section {
  padding-top: 43px;
  padding-bottom: 56px;
  background-image: linear-gradient(to bottom, $white-bg 8%, $pink-bg 8%);

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 79px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 66px;
    padding-bottom: 83px;
  }
}
.contacts__container {
  @extend %container;
}
.contacts__list {
  @include flex-container;
  flex-direction: column;
  justify-content: center;
  @extend %list;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.contacts__card {
  max-width: 220px;
  //   min-height: 427px;
  // width: 100%;

  padding: 43px 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  background-color: #fff;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-basis: calc((100% - 2 * 30px) / 3);
  }

  &:not(:last-child) {
    @media screen and(max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  &:last-child {
    @media screen and(max-width: 767px) {
      margin-bottom: 54px;
    }
  }
  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 30px;
    }
  }
}

.card__lable {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding-left: 25px;
  padding-right: 25px;

  border-radius: 4px;
  .card__lable-txt {
    font-family: DM Sans;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $text-cl-white;
  }
}
.card__lable--color1 {
  background: #f0d1a5;
}
.card__lable--color2 {
  background: #c2e297;
}
.card__part-top {
  padding: 25px 0;
  border-bottom: 1px solid #e1e1e1;
}

.card__city {
  font-weight: 500;
  line-height: 1.83;
  letter-spacing: 0.04em;
}
.card__city--margin-b {
  margin-bottom: 10px;
}
.card__txt {
  font-weight: 500;
  line-height: 1.5;
  color: $text-cl-grey;
}
.card__txt--margin-b {
  color: tomato;
}
.card__part-middle {
  padding: 25px 0;
  border-bottom: 1px solid #e1e1e1;
}
.schedule--margin-b {
  margin-bottom: 10px;
}
.card__days {
  font-weight: 500;
  line-height: 1.86;
}
.card__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  color: $text-cl-pink;
}

.card__part-bottom {
  padding-top: 25px;
}
.contacts__btn-container {
  width: 162px;
  margin-left: auto;
  margin-right: auto;
  &:not(:last-child) {
    @media screen and(max-width:767px) {
      margin-bottom: 10px;
    }
  }
}
