.gallery {
  background-image: linear-gradient($pink-bg 40%, $text-cl-white 40%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallery__wrap {
  object-fit: cover;
  overflow: hidden;
}

.gallery__image img {
  width: 110vw;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    max-width: 786px;
  }

  @media screen and (min-width: 1200px) {
    width: 100vw;
    max-width: 1200px;
  }
}
