.gallery {
  background-image: linear-gradient($pink-bg 40%, $text-cl-white 40%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallery__wrap {
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gallery-image img {
  margin-left: auto;
  margin-right: auto;
}
