* {
  outline: 1px solid red;
}
.product__label {
  text-align: center;
  font-size: 18px;
  line-height: 1.17;
  color: #ffa5ba;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.product__title {
  color: #d41443;
  font-size: 34px;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 31px;
}
.product__list {
  display: block;
  align-items: center;
}
.product__item {
  max-width: 280px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
