html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font;
  font-size: 12px;
  line-height: 2.58;

  color: $text-cl-black;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: inherit;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: $accent-text-cl;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  max-width: 1080px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
