$main-font: 'DM Sans', sans-serif;
$logo-font: 'Titan One', cursive;

$text-cl-white: #ffffff;
$text-cl-black: #000000;
$text-cl-grey: #907e82;
$text-cl-red: #d41443;
$text-cl-pink: #ffa5ba;

$header-bg: #ffb8ca;
$grey-bg: #e5e5e5;
$pink-bg: #fff5f6;

$btn-red-bg: #d41443;
$btn-white-bg: #ffffff;
$btn-red-bg--hover: #c7133e;
$btn-white-bg--hover: #ecebeb;

$icon-bg: #fea5bb;
$icon-bg--hover: #d41443;
