$main-font: 'DM Sans', sans-serif;
$logo-font: 'Titan One', cursive;

$text-cl-white: #ffffff;
$text-cl-black: #000000;
$text-cl-grey: #907e82;
$text-cl-red: #d41443;
$text-cl-pink: #ffa5ba;

$header-bg: #ffb8ca;
$header-menu-bg: #E17992;
$white-bg: #ffffff;
$pink-bg: #fff5f6;
$ft-line: #e1e1e1;

$btn-red-bg: #d41443;
$btn-white-bg: #ffffff;
$btn-red-bg--hover: #c7133e;
$btn-white-bg--hover: #ecebeb;

$icon-bg: #fea5bb;
$icon-bg--hover: #d41443;

$animation: 350ms cubic-bezier(0.4, 0, 0.2, 1);
