<section>
  <div class="container about">
    <p class="about__label">tradition and love</p>
    <h1 class="about__title">how it’s made?</h1>
    <img src="./images/section-about/cow.png" alt="cow" class="about--cow" />
    <p class="about__text">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <p class="about__second-text">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt. <br />
      <br />Aliquam erat volutpat. Aenean accumsan.

      <img src="./images/section-about/milk.png" alt="milk" class="about__milk-img" />
    </p>
    <div class="about__btn">
      <button class="button__small about__btn--modifier" type="button">
        Read more
        <span class="about__btn--arrow">
          <svg class="about__btn--svg">
            <use href="./images/section-about/vector.svg"></use>
          </svg> </span
        >>
      </button>
    </div>
    <ul class="list about__list">
      <li class="about__item">
        <img src="./images/section-about/icon1.png" alt="icon-milk" />
        <p class="about__number">721</p>
        <p class="about__item--text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="about__item">
        <img src="./images/section-about/icon2.png" alt="icon-fruits" />
        <p class="about__number">16</p>
        <p class="about__item--text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="about__item">
        <img src="./images/section-about/icon3.png" alt="icon-health" />
        <p class="about__number">84</p>
        <p class="about__item--text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
