<section id="contacts" class="contacts contacts__section">
  <div class="contacts__container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list contacts__list--margin">
      <li class="contacts__card">
        <article>
          <p class="card__lable card__lable--color1"><span class="card__lable-txt">Cafe</span></p>
          <div class="card__part-top">
            <p class="card__city card__city--margin-b">Chicago</p>
            <p class="card__txt">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="card__part-middle">
            <ul class="list">
              <li class="schedule schedule--margin-b">
                <p class="card__days">Monday - Friday</p>
                <p class="card__time">
                  <time datetime="06:00-05:00">6:00 AM</time>-<time datetime="22:00-05:00"
                    >10:00 PM</time
                  >
                </p>
              </li>
              <li class="schedule">
                <p class="card__days">Saturday - Sunday</p>
                <p class="card__time">
                  <time datetime="08:00-05:00">8:00 AM</time>-<time datetime="16:00-05:00"
                    >04:00 PM</time
                  >
                </p>
              </li>
            </ul>
          </div>
          <div class="card__part-bottom">
            <ul class="list">
              <li><a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
              <li>
                <a class="card__link" href="mailto:noreply@envato.com"> jnoreply@envato.com</a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="contacts__card">
        <article>
          <p class="card__lable card__lable--color2">
            <span class="card__lable-txt">Foodtruck</span>
          </p>
          <div class="card__part-top">
            <p class="card__city card__city--margin-b">Los Angeles</p>
            <p class="card__txt">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="card__part-middle">
            <ul class="list">
              <li class="schedule schedule--margin-b">
                <p class="card__days">Monday - Friday</p>
                <p class="card__time">
                  <time datetime="06:00-07:00">6:00 AM</time>-<time datetime="22:00-07:00"
                    >10:00 PM</time
                  >
                </p>
              </li>
              <li class="schedule">
                <p class="card__days">Saturday - Sunday</p>
                <p class="card__time">
                  <time datetime="08:00-05:00">8:00 AM</time>-<time datetime="16:00-05:00"
                    >04:00 PM</time
                  >
                </p>
              </li>
            </ul>
          </div>
          <div class="card__part-bottom">
            <ul class="list">
              <li><a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
              <li>
                <a class="card__link" href="mailto:noreply@envato.com"> jnoreply@envato.com</a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="contacts__card">
        <article>
          <p class="card__lable card__lable--color1"><span class="card__lable-txt">Cafe</span></p>
          <div class="card__part-top">
            <p class="card__city card__city--margin-b">New York</p>
            <p class="card__txt">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="card__part-middle">
            <ul class="list">
              <li class="schedule schedule--margin-b">
                <p class="card__days">Monday - Friday</p>
                <p class="card__time">
                  <time datetime="06:00-04:00">6:00 AM</time>-<time datetime="22:00-04:00"
                    >10:00 PM</time
                  >
                </p>
              </li>
              <li class="schedule">
                <p class="card__days">Saturday - Sunday</p>
                <p class="card__time">
                  <time datetime="08:00-05:00">8:00 AM</time>-<time datetime="16:00-05:00"
                    >04:00 PM</time
                  >
                </p>
              </li>
            </ul>
          </div>
          <div class="card__part-bottom">
            <ul class="list">
              <li><a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
              <li>
                <a class="card__link" href="mailto:noreply@envato.com"> jnoreply@envato.com</a>
              </li>
            </ul>
          </div>
        </article>
      </li>
    </ul>
  </div>

  <div class="container">
    <ul class="contacs__btn-list">
      <li class="contacs__btn-item">
        <button
          data-easy-toggle="#modalmap"
          data-easy-class="show"
          class="button-arrow--red"
          type="button"
        >
          Our Locations
        </button>
      </li>
      <li class="contacs__btn-item">
        <button
          data-easy-toggle="#modalFranchise"
          data-easy-class="show"
          class="button-arrow--white"
          type="button"
        >
          Franchise
        </button>
      </li>
    </ul>

    <!-- Модельное окно -->
    <div id="modalmap" class="modal">
      <div class="modal-window">
        <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5104.162532370794!2d28.695104832668466!3d50.23438668270908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c6373bd6903e7%3A0x5c4aa94d263c8c11!2z0JbQuNGC0L7QvNC40YDRgdC60LjQuSDQnNCw0YHQu9C-0LfQsNCy0L7QtCDQotCcICLQoNGD0LTRjCIsINCn0JDQng!5e0!3m2!1sru!2sua!4v1623258230871!5m2!1sru!2sua"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
        <button data-modal-close type="button" class="modal__close--contacts">
          <svg class="modal__icon">
            <use href="./images/sprite.svg#icon-close"></use>
            <use href="images/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="overlay" data-easy-toggle="#modalmap" data-easy-class="show"></div>
    </div>
    <div id="modalFranchise" class="modal">
      <div class="modal-window-two">
        <h3 class="ey-modal-title">Franchise!</h3>
        <p class="ey-modal-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita reiciendis, earum
          cupiditate obcaecati vel in vitae officia nihil praesentium id, quod quasi repellat maxime
          fugiat eos ipsa. Consectetur, aperiam dignissimos!
        </p>
        <p class="ey-modal-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita reiciendis, earum
          cupiditate obcaecati vel in vitae officia nihil praesentium id, quod quasi repellat maxime
          fugiat eos ipsa. Consectetur, aperiam dignissimos!
        </p>
        <button data-modal-close type="button" class="modal__close--contacts">
          <svg class="modal__icon">
            <use href="./images/sprite.svg#icon-close"></use>
            <use href="images/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="overlay" data-easy-toggle="#modalFranchise" data-easy-class="show"></div>
    </div>
    <div class="overlay" data-easy-toggle="#modalFranchise" data-easy-class="show"></div>
  </div>
</section>
