
<section id="contacts" class="contacts contacts__section">
    <div class="contacts__container">
  <h2 class="visually-hidden">Contacts</h2>
  <ul class="contacts__list">
    <li class="contacts__card">
      <article>
        <p class="card__lable card__lable--color1"><span class="card__lable-txt">Cafe</span></p>
        <div class="card__part-top">
          <p class="card__city card__city--margin-b">Chicago</p>
          <p class="card__txt">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="card__part-middle">
          <ul class="list">
            <li class="schedule schedule--margin-b">
              <p class="card__days">Monday - Friday</p>
              <p class="card__time">
                <time datetime="06:00-05:00">6:00 AM</time>-<time datetime="22:00-05:00"
                  >10:00 PM</time
                >
              </p>
            </li>
            <li class="schedule">
              <p class="card__days">Saturday - Sunday</p>
              <p class="card__time"><time datetime="08:00-05:00">8:00 AM</time>-<time datetime="16:00-05:00"
                >04:00 PM</time
              ></p>
            </li>
          </ul>
        </div>
        <div class="card__part-bottom">
          <ul class="list">
            <li><a class="card__txt link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
            <li><a class="card__txt link" href="mailto:noreply@envato.com"> jnoreply@envato.com</a></li>
          </ul>
        </div>
      </article>
    </li>
    <li class="contacts__card">
      <article>
        <p class="card__lable card__lable--color2"><span class="card__lable-txt">Foodtruck</span></p>
        <div class="card__part-top">
            <p class="card__city card__city--margin-b">Los Angeles</p>
            <p class="card__txt">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="card__part-middle">
            <ul class="list">
              <li class="schedule schedule--margin-b">
                <p class="card__days">Monday - Friday</p>
                <p class="card__time">
                  <time datetime="06:00-07:00">6:00 AM</time>-<time datetime="22:00-07:00"
                    >10:00 PM</time
                  >
                </p>
              </li>
              <li class="schedule">
                <p class="card__days">Saturday - Sunday</p>
                <p class="card__time"><time datetime="08:00-05:00">8:00 AM</time>-<time datetime="16:00-05:00"
                  >04:00 PM</time
                ></p>
              </li>
            </ul>
          </div>
          <div class="card__part-bottom">
            <ul class="list">
              <li><a class="card__txt link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
              <li><a class="card__txt link" href="mailto:noreply@envato.com"> jnoreply@envato.com</a></li>
            </ul>
          </div>
      </article>
    </li>
    <li class="contacts__card">
      <article>
        <p class="card__lable card__lable--color1"><span class="card__lable-txt">Cafe</span></p>
        <div class="card__part-top">
            <p class="card__city card__city--margin-b">New York</p>
            <p class="card__txt">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="card__part-middle">
            <ul class="list">
              <li class="schedule schedule--margin-b">
                <p class="card__days">Monday - Friday</p>
                <p class="card__time">
                  <time datetime="06:00-04:00">6:00 AM</time>-<time datetime="22:00-04:00"
                    >10:00 PM</time
                  >
                </p>
              </li>
              <li class="schedule">
                <p class="card__days">Saturday - Sunday</p>
                <p class="card__time"><time datetime="08:00-05:00">8:00 AM</time>-<time datetime="16:00-05:00"
                  >04:00 PM</time
                ></p>
              </li>
            </ul>
          </div>
          <div class="card__part-bottom">
            <ul class="list">
              <li><a class="card__txt link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
              <li><a class="card__txt link" href="mailto:noreply@envato.com"> jnoreply@envato.com</a></li>
            </ul>
          </div>
      </article>
    </li>
  </ul>
  <button  class="" type="button">Our Locations</button>
  <button class="" type="button">Franchise</button>
</div>
</section>
