<section id="contacts" class="contacts contacts__section">
    <div class="contacts__container">
  <h2 class="visually-hidden">Contacts</h2>
  <ul class="contacts__list">
    <li class="contacts__card">
      <article>
        <p>Cafe</p>
        <div>
          <p>Chicago</p>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div>
          <ul class="list">
            <li>
              <p>Monday - Friday</p>
              <!-- <p>
                <time datetime="06:00-05:00">6:00 AM</time>-<time datetime="22:00-05:00"
                  >10:00 PM</time
                >
              </p> -->
            </li>
            <li>
              <p>Saturday - Sunday</p>
              <!-- <p><time datetime="08:00-05:00">8:00 AM</time>-<time datetime="16:00-05:00"
                >04:00 PM</time
              ></p> -->
            </li>
          </ul>
        </div>
        <div>
          <ul class="list">
            <li><a class="link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
            <li><a class="link" href="mailto:noreply@envato.com"> jnoreply@envato.com</a></li>
          </ul>
        </div>
      </article>
    </li>
    <li class="contacts__card">
      <article>
        <p>Foodtruck</p>
        <div>
            <p>Los Angeles</p>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div>
            <ul class="list">
              <li>
                <p>Monday - Friday</p>
                <!-- <p>
                  <time datetime="06:00-07:00">6:00 AM</time>-<time datetime="22:00-07:00"
                    >10:00 PM</time
                  >
                </p> -->
              </li>
              <li>
                <p>Saturday - Sunday</p>
                <!-- <p><time datetime="08:00-05:00">8:00 AM</time>-<time datetime="16:00-05:00"
                  >04:00 PM</time
                ></p> -->
              </li>
            </ul>
          </div>
          <div>
            <ul class="list">
              <li><a class="link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
              <li><a class="link" href="mailto:noreply@envato.com"> jnoreply@envato.com</a></li>
            </ul>
          </div>
      </article>
    </li>
    <li class="contacts__card">
      <article>
        <p>Cafe</p>
        <div>
            <p>New York</p>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div>
            <ul class="list">
              <li>
                <p>Monday - Friday</p>
                <!-- <p>
                  <time datetime="06:00-04:00">6:00 AM</time>-<time datetime="22:00-04:00"
                    >10:00 PM</time
                  >
                </p> -->
              </li>
              <li>
                <p>Saturday - Sunday</p>
                <!-- <p><time datetime="08:00-05:00">8:00 AM</time>-<time datetime="16:00-05:00"
                  >04:00 PM</time
                ></p> -->
              </li>
            </ul>
          </div>
          <div>
            <ul class="list">
              <li><a class="link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
              <li><a class="link" href="mailto:noreply@envato.com"> jnoreply@envato.com</a></li>
            </ul>
          </div>
      </article>
    </li>
  </ul>
</div>
</section>
