<section class="reviews">
  <h2 class="visually-hidden">Customer reviews</h2>
  <div class="container">
    <div class="slider-container">
      <ul class="slider list">
        <li class="slider__card reviews__card">
          <picture>
            <source
              srcset="
                images/customer-reviews/Marina.jpg    1x,
                images/customer-reviews/Marina@2x.jpg 2x
              "
            />
            <img
              class="reviews__image"
              src="images/customer-reviews/Marina.jpg"
              alt="Marina Tripetska"
              width="85"
            />
          </picture>
          <div class="reviews__wrap">
            <p class="reviews__text">
              I gained experience working in a great team, have learned to create and merge
              branches, how to conduct a code review, also I have been responsible for the heder
              section. I had a good time.
            </p>
          </div>
          <p class="reviews__location">Marina Tripetska, Team leader</p>
        </li>
        <li class="slider__card reviews__card">
          <picture>
            <source
              srcset="images/customer-reviews/Vadim.jpg 1x, images/customer-reviews/Vadim@2x.jpg 2x"
            />
            <img
              class="reviews__image"
              src="images/customer-reviews/Vadim.jpg"
              alt="Vadim Duman"
              width="85"
            />
          </picture>
          <div class="reviews__wrap">
            <p class="reviews__text">
              Success doesn't come to you,<br />
              you go to it.
            </p>
          </div>
          <p class="reviews__location">Vadim Duman, Scrum master</p>
        </li>
        <li class="slider__card reviews__card">
          <picture>
            <source
              srcset="
                images/customer-reviews/Sergiy.jpg    1x,
                images/customer-reviews/Sergiy@2x.jpg 2x
              "
            />
            <img
              class="reviews__image"
              src="images/customer-reviews/Sergiy@2x.jpg"
              alt="Sergiy Shevchuk"
              width="85"
            />
          </picture>
          <div class="reviews__wrap">
            <p class="reviews__text">
              I authored the footer, created modal window with map in "Contacts" section, and also
              styles for buttons on the page.
            </p>
          </div>
          <p class="reviews__location">Sergiy Shevchuk, Team member</p>
        </li>
        <li class="slider__card reviews__card">
          <picture>
            <source
              srcset="images/customer-reviews/Olha.jpg 1x, images/customer-reviews/Olha@2x.jpg 2x"
            />
            <img
              class="reviews__image"
              src="images/customer-reviews/Olha.jpg"
              alt="Olga Komiati"
              width="85"
            />
          </picture>
          <div class="reviews__wrap">
            <p class="reviews__text">
              During the project I gained a team work experience - Team, you're the best! In my role
              I've been working with sections "Gallery" and "Customer reviews" (now its section
              about our Team), slider and favicon.
            </p>
          </div>
          <p class="reviews__location">Olga Komiati, Team member</p>
        </li>
      </ul>
    </div>
  </div>
</section>
