<section class="gallery">
  <h2 class="visually-hidden">Types of ice cream</h2>
  <div class="gallery__image">
    <picture>
      <source
        srcset="
          images/gallery/desktop-gallery@1x.webp 1x,
          images/gallery/desktop-gallery@2x.webp 2x
        "
        media="(min-width: 850px)"
        type="image/webp"
      />
      <source
        srcset="images/gallery/desktop-gallery@1x.png 1x, images/gallery/desktop-gallery@2x.png 2x"
        media="(min-width: 850px)"
        type="image/png"
      />
      <source
        srcset="images/gallery/tablet-gallery@1x.webp 1x, images/gallery/tablet-gallery@2x.webp 2x"
        media="(min-width: 450px)"
        type="image/webp"
      />
      <source
        srcset="images/gallery/tablet-gallery@1x.png 1x, images/gallery/tablet-gallery@2x.png 2x"
        media="(min-width: 450px)"
        type="image/png"
      />
      <source
        srcset="images/gallery/mobile-gallery@1x.webp 1x, images/gallery/mobile-gallery@2x.webp 2x"
        media="(max-width: 449px)"
        type="image/webp"
      />
      <source
        srcset="images/gallery/mobile-gallery@1x.png 1x, images/gallery/mobile-gallery@2x.png 2x"
        media="(max-width: 449px)"
        type="image/png"
      />
      <img class="" src="images/gallery/mobile-gallery@1x.png" alt="Types of ice cream" />
    </picture>
  </div>
</section>
