<header class="header__section">
  <div class="header__container">
    <div class="header__wraper header__wraper--margin-b">
      <a class="logo header__logo" href="./index.html">
        <picture>
          <source
            srcset="
              ./images/hero-header/hero-header-logo.webp    1x,
              ./images/hero-header/hero-header-logo@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero-header/hero-header-logo.png    1x,
              ./images/hero-header/hero-header-logo@2x.png 2x
            "
            type="image/png"
          />
          <img src="./images/hero-header/hero-header-logo.png" alt="logo" />
        </picture>
      </a>

      <button
        class="menu-btn"
        type="button"
        aria-controls="menu-container"
        aria-expanded="false"
        data-menu-button
      >
        <svg class="menu-btn__icon" aria-label="переключатель мобильного меню">
          <use class="menu-btn__icon--menu" href="./images/sprite.svg#burger"></use>
          <use class="menu-btn__icon--close" href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <div class="menu__container" id="menu-container" data-menu>
        <div class="menu-wraper">
          <nav class="navigation header__navigation">
            <ul class="navigation__list navigation__list--margin-b">
              <li class="navigation__item">
                <a class="navigation__link navigation__link--current" href="">Home</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="">About us</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="">How it’s made?</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="">Our products</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="btn-header__container">
            <button class="button-arrow--white" type="button">Buy now</button>
          </div>
        </div>
      </div>
      <div class="btn-header__container--display">
        <button class="button-arrow--white" type="button">Buy now</button>
      </div>
    </div>
    <!-- Banner -->
    <div class="header__bg">
      <div class="circle"></div>
      <div class="banner__position">
        <div>
          <h1 class="main-title main-title--margin-b">
            ice cream <br />
            made with <br />
            <span class="main-title__span">passion</span>
          </h1>
          <div class="button__smal--container">
            <button class="button__small--red button__small--margin">Products</button>
            <button class="button__small--white">How it’s made?</button>
          </div>
        </div>
        <ul class="achievement achievement__list">
          <li class="achievement__item achievement__item--margin-b">
            <span class="achievement__number">16</span>cafes
          </li>
          <li class="achievement__item"><span class="achievement__number">23</span>food trucks</li>
        </ul>
      </div>
    </div>
  </div>
</header>
