<!DOCTYPE html>
<header class="header">
  <div class="container">
    <div class="flex-container">
      <div class="logo">
        <a href="#" class="logo__link">
          <picture>
            <source
              srcset="
                ../images/hero-header/hero-header-logo.png    1x,
                ../images/hero-header/hero-header-logo@2x.png 2x
              "
              media="(min-width:1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ../images/hero-header/hero-header-logo.png    1x,
                ../images/hero-header/hero-header-logo@2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../images/hero-header/hero-header-logo.png    1x,
                ../images/hero-header/hero-header-logo@2x.png 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../images/hero-header/hero-header-logo.png    1x,
                ../images/hero-header/hero-header-logo@2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../images/hero-header/hero-header-logo.png    1x,
                ../images/hero-header/hero-header-logo@2x.png 2x
              "
              media="(min-width:480px)"
              type="image/webp"
            />
            <source
              srcset="
                ../images/hero-header/hero-header-logo.png    1x,
                ../images/hero-header/hero-header-logo@2x.png 2x
              "
              media="(min-width:480px)"
            />

            <img src="../images/hero-header/hero-header-logo.png" alt="logo" />
          </picture>
        </a>
      </div>
      <!-- <div class="navigation">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#">Home</a></li>
            <li class="nav__item"><a href="#aboutus">About us</a></li>
            <li class="nav__item"><a href="#howitsmade">How it’s made?</a></li>
            <li class="nav__item"><a href="#ourproducts">Our products</a></li>
            <li class="nav__item"><a href="#contacts">Contact</a></li>
          </ul>
        </nav>
        <button class="button" type="button">
          <span class="button__title">Buy now</span>
          <svg class="button__svg" height="8" width="8">
            <use href=""></use>
          </svg>
        </button>
      </div> -->
    </div>
    <!-- burger button -->
    <button type="button" class="burger-btn" data-menu-button>
      <svg class="burger-icon" width="40" height="40">
        <use href=""></use>
      </svg>
    </button>
    <!-- <div class="mobile-menu" data-menu>
      <button type="button" class="mobile-menu__close-btn" data-menu-close>
        <svg class="bobile-menu__close-btn-icon" width="40" height="40">
          <use href=""></use>
        </svg>
      </button>
      <div class="navigation">
        <button class="button" type="button">
          <span class="button__title">Buy now</span>
          <svg class="button__svg" height="8" width="8">
            <use href=""></use>
          </svg>
        </button>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#">Home</a></li>
            <li class="nav__item"><a href="#aboutus">About us</a></li>
            <li class="nav__item"><a href="#howitsmade">How it’s made?</a></li>
            <li class="nav__item"><a href="#ourproducts">Our products</a></li>
            <li class="nav__item"><a href="#contacts">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div> -->
  </div>
</header>
