<section>
  <div class="container">
    <p class="product__label">100% natural</p>
    <h1 class="product__title">products</h1>
    <ul class="list product__list">
      <!-- first card -->
      <li class="product__item">
        <h2 class="product__item--title">ice cream</h2>
        <!-- тут будет псевдоелемент(три белые точки) -->
        <p class="product__item--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="button__product">
          <svg class="button__product--svg">
            <use href="./images/sprite.svg#product-button"></use>
          </svg>
        </button>
      </li>
      <!-- second card -->
      <li class="product__item">
        <h2 class="product__item--title">ice coffee</h2>
        <!-- тут будет псевдоелемент(три белые точки) -->
        <p class="product__item--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="button__product">
          <svg class="button__product--svg">
            <use href="./images/sprite.svg#product-button"></use>
          </svg>
        </button>
      </li>
      <!-- third card -->
      <li class="product__item">
        <h2 class="product__item--title">ice cream</h2>
        <!-- тут будет псевдоелемент(три белые точки) -->
        <p class="product__item--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="button__product">
          <svg class="button__product--svg">
            <use href="./images/sprite.svg#product-button"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
