<section>
  <div class="container products">
    <p class="product__label">100% natural</p>
    <h1 class="product__title">products</h1>
    <ul class="list product__list">
      <!-- first card -->
      <li class="product__item item--bgicecream">
        <div class="product__item--imgsize">
          <img src="./images/section-products/icecream.png" alt="icecream" />
        </div>
        <h2 class="product__item--title">ice cream</h2>
        <!-- тут будет псевдоелемент(три белые точки) -->
        <img src="./images/section-products/dots.png" alt="dots" class="product__item--dots" />

        <!-- ---------------------------------------- -->
        <p class="product__item--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="button--circle" type="button">
          <svg width="10.7px" height="9.4px">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <!-- second card -->
      <li class="product__item item--bgicecoffee">
        <div class="product__item--imgsize">
          <img src="./images/section-products/icecoffee.png" alt="icecream" />
        </div>
        <h2 class="product__item--title">ice coffee</h2>
        <!-- тут будет псевдоелемент(три белые точки) -->
        <img src="./images/section products/dots.png" alt="dots" class="product__item--dots" />

        <!-- ---------------------------------------- -->
        <p class="product__item--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="button--circle" type="button">
          <svg width="10.7px" height="9.4px">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <!-- third card -->
      <li class="product__item item--bgmilkshakes">
        <div class="product__item--imgsize">
          <img src="./images/section-products/milkshakes.png" alt="icecream" />
        </div>
        <h2 class="product__item--title">milkshakes</h2>
        <!-- тут будет псевдоелемент(три белые точки) -->
        <img src="./images/section-products/dots.png" alt="dots" class="product__item--dots" />

        <!-- ---------------------------------------- -->
        <p class="product__item--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="button--circle" type="button">
          <svg width="10.7px" height="9.4px">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
